.aside .logo a::before {
  border-top: 4px solid #fa5b0f;
  border-left: 4px solid #fa5b0f;
}

.aside .logo a::after {
  border-bottom: 4px solid #fa5b0f;
  border-right: 4px solid #fa5b0f;
}

.aside .nav li a:hover,
.service .service-item .service-item-inner .icon .fa,
.project .project-item .project-info .icon .fa,
body.dark .aside .nav li a.active,
body.dark .aside .nav li a:hover {
  color: #fa5b0f;
}

.aside .nav li a.active,
.project .project-filter button.active,
body.dark .project .project-filter button.active,
.contact .contact-info-item .icon .fa {
  color: #fa5b0f;
}

.aside .nav-toggler span {
  background-color: #fa5b0f;
}
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social-links a,
.section-title h2::before,
.section-title h2::after,
.btn-cv,
.about .about-content .skills .skill-item .progress .progress-in,
.about .about-content .timeline .timeline-item::before,
.about .about-content .timeline .circle-dot,
.service .service-item .service-item-inner:hover .icon {
  background-color: #fa5b0f;
}
body.dark .project .project-filter button.active,
.project .project-filter button.active {
  border-color: #fa5b0f;
}
